html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: gray;
}
ul{
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
}
h1{
    align-items: center;
    justify-content: center;
    display: flex;
}

    

.project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carts{
    display: flex;
    justify-content: center;
    gap: 40px;
}
 .card-color, .card-color1,.card-color2{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 50px;
    border-radius: 2px;
    background: darkgray;

}
.card-item{
    
   border: 1px solid #d8d8d8;
   text-align: center;
   margin: 5px;
    padding: 5px;
    width: 208px;
    height: 122px;
    background-color: gray;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;      
    word-wrap: break-word;
    flex-direction: column;
    border-radius: 5px;

}

.about-me .foto h3{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
.foto{
    margin-top: 50px;
    display: flex;
     align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(200, 199, 199),lightgrey);
    
}
.fotka{
    width: 840px;
    height: 493px;
    border-radius: 8px;
    
}
.p1{
    font-size: 20px;
}
.wwod{
     width: 200px;
    height: 30px;
    border-radius: 8px;
    border-color: #eef0f2;
    margin-bottom: 5px;
}
.butt{
     width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: #43cc36;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.contact-me footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contact-me footer .end a{
text-decoration: none;
}
.contact-me footer .end{
    display: flex;
    gap: 50px;
margin-bottom: 50px;
}
 .p2{margin-top: 100px;
    font-size: 15px;
}

